
<div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white">
  <img src="{{ openGraph.ogUrl }}" class="w-full h-48 object-cover"/>
  <div class="p-4">
    <h2 class="mb-2 text-xl font-semibold text-gray-800 tracking-tight">{{ openGraph.name }}</h2>
    <button class="inline-flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-medium text-white transition-colors rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none bg-slate-950 hover:bg-slate-900">
      Edit OpenGraph
    </button>
  </div>
</div>