<div class="mb-8 text-center">
  <img
    src="{{ openGraph.ogUrl }}"
    alt="OpenGraph Image"
    class="h-48 object-cover mx-auto rounded-xl shadow-lg border border-gray-300 form-img "
    loading="lazy"
    onerror="handleImageErrorform(this)"
  />
</div>
