@layout()
  <h1 class="mx-auto text-3xl font-black leading-none text-gray-900 select-none text-center mt-8">
    About
  </h1>
  <div class="max-w-7xl mx-auto mt-8 px-4">
    <div class="bg-white shadow-lg rounded-lg p-6">
    <p>Hello,<br> We are 2 web development students who, under the supervision of Mr David Boureau, have created this cloudianry URL modification application.</p>
    </div>
  </div>
@end
